.flex-sb {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pt-10{
    padding-top: 10rem
}
.pt-5{
    padding-top: 5rem
}
.text-center {
    text-align: center;
}