@import './variables/variables.scss';
@import './util/util.scss';
@import './pages/products.scss';
@import './pages/productDetail.scss';
@import './pages/checkout.scss';
@import './components/Header.scss';
@import './components/Product.scss';
@import './components/Table.scss';
@import './components/InputGroup.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333
}

.container {
    width: 120rem;
    margin: 0 auto;
}